.section-me {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;

  p {
    margin: 0;
    padding: 0 0 0 5px;
    font-size: 14px;
    display: block;
    color: $colorAccent;
    font-weight: 400;
    font-family: $fontSecondary;

    &:last-of-type {
      color: $colorSecondary;
      padding: 12px 0 0 2px;
      max-width: 550px;
    }
  }

  h3 {
    margin: 0;
    padding: 0;
    font-size: 70px;
    display: block;
    color: #435460;
    font-weight: 600;
    font-family: $fontPrimary;
    line-height: 0.82;
    letter-spacing: -3px;

    &:first-of-type {
      color: $colorPrimary;
      margin-top: 10px;
    }

    &:last-of-type {
      text-transform: uppercase;
      color: #25333f;
      font-weight: 700;
      padding-left: 3px;
    }
    @include md {
      font-size: 56px;
    }
    @include sm {
      font-size: 40px;
      margin: 8px 0;
    }
  }

  .next-arrow {
    font-size: 13px;
    color: $colorAccent;
    position: absolute;
    bottom: 70px;
    left: 45%;
    cursor: pointer;
    font-family: $fontSecondary;
    font-weight: 500;

    span {
      color: #e965ff;
      font-weight: 600;
    }

    &.hide-btn {
      animation: fadeOutAnimation ease 2s;
      opacity: 0;
    }
  }
}
