@charset "UTF-8";
.section-me {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}
.section-me p {
  margin: 0;
  padding: 0 0 0 5px;
  font-size: 14px;
  display: block;
  color: #26d353;
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
}
.section-me p:last-of-type {
  color: #687e8e;
  padding: 12px 0 0 2px;
  max-width: 550px;
}
.section-me h3 {
  margin: 0;
  padding: 0;
  font-size: 70px;
  display: block;
  color: #435460;
  font-weight: 600;
  font-family: "Roboto Mono", monospace;
  line-height: 0.82;
  letter-spacing: -3px;
}
.section-me h3:first-of-type {
  color: #cedfec;
  margin-top: 10px;
}
.section-me h3:last-of-type {
  text-transform: uppercase;
  color: #25333f;
  font-weight: 700;
  padding-left: 3px;
}
.section-me .next-arrow {
  font-size: 13px;
  color: #26d353;
  position: absolute;
  bottom: 70px;
  left: 45%;
  cursor: pointer;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
}
.section-me .next-arrow span {
  color: #e965ff;
  font-weight: 600;
}
.section-me .next-arrow.hide-btn {
  animation: fadeOutAnimation ease 2s;
  opacity: 0;
}

.section-about {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1.25fr 1fr;
  grid-template-areas: "header header" "main sidebar";
  grid-gap: 0 30px;
}
.section-about * {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 1.2s;
  -webkit-animation-duration: 1.2s;
  visibility: visible;
}
.section-about .txt-title {
  grid-area: header;
  align-self: end;
}
.section-about .img-profile {
  width: 240px;
  height: 240px;
  border-radius: 4px;
  justify-self: center;
  grid-area: sidebar;
}
.section-about__main {
  grid-area: main;
}

.main-wrapper {
  background-color: #0a192f;
  font-family: "Source Code Pro", monospace;
}
.main-wrapper header {
  display: none;
}
.main-wrapper main {
  padding: 0 80px;
}
.main-wrapper footer {
  display: none;
}

.txt-title {
  color: #cedfec;
  font-family: "Source Code Pro", monospace;
  margin: 0;
  padding: 0;
}
.txt-title--md {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 30px;
}

.txt-desc {
  color: #687e8e;
  font-family: "Source Code Pro", monospace;
  margin: 0;
  padding: 0;
  letter-spacing: -0.05em;
}
.txt-desc--md {
  font-size: 17px;
  font-weight: 400;
  margin: 0 0 12px 0;
}
.txt-desc--sm {
  font-size: 12px;
  font-weight: 400;
  margin: 2px 0;
  font-family: "Roboto Mono", monospace;
}

.list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  list-style: none;
  padding: 0 15px 0 0;
  color: #687e8e;
}
.list li::before {
  content: "▹";
  left: 0;
  color: #26d353;
  font-size: 15px;
  line-height: 12px;
  margin: 0 4px 0 0;
}

*::-webkit-scrollbar {
  width: 4px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #0a192f;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #687e8e;
  border-radius: 4px;
}

/*# sourceMappingURL=style.css.map */
