@charset "UTF-8";
.section-me {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}
.section-me p {
  margin: 0;
  padding: 0 0 0 5px;
  font-size: 14px;
  display: block;
  color: #26d353;
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
}
.section-me p:last-of-type {
  color: #687e8e;
  padding: 12px 0 0 2px;
  max-width: 550px;
}
.section-me h3 {
  margin: 0;
  padding: 0;
  font-size: 70px;
  display: block;
  color: #435460;
  font-weight: 600;
  font-family: "Source Code Pro", monospace;
  line-height: 0.82;
  letter-spacing: -3px;
}
.section-me h3:first-of-type {
  color: #cedfec;
  margin-top: 10px;
}
.section-me h3:last-of-type {
  text-transform: uppercase;
  color: #25333f;
  font-weight: 700;
  padding-left: 3px;
}
@media (max-width: 768px) {
  .section-me h3 {
    font-size: 56px;
  }
}
@media (max-width: 576px) {
  .section-me h3 {
    font-size: 40px;
    margin: 8px 0;
  }
}
.section-me .next-arrow {
  font-size: 13px;
  color: #26d353;
  position: absolute;
  bottom: 70px;
  left: 45%;
  cursor: pointer;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
}
.section-me .next-arrow span {
  color: #e965ff;
  font-weight: 600;
}
.section-me .next-arrow.hide-btn {
  animation: fadeOutAnimation ease 2s;
  opacity: 0;
}

.section-about {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1.25fr 1fr;
  grid-template-areas: "header header" "main sidebar";
  grid-gap: 0 30px;
}
.section-about * {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 1.2s;
  -webkit-animation-duration: 1.2s;
  visibility: visible;
}
.section-about .txt-title {
  grid-area: header;
  align-self: end;
}
.section-about .img-profile {
  width: 240px;
  height: 240px;
  border-radius: 4px;
  justify-self: center;
  grid-area: sidebar;
}
@media (max-width: 768px) {
  .section-about .img-profile {
    width: 145px;
    height: 145px;
    align-self: center;
    margin: 20px 0;
  }
}
.section-about__main {
  grid-area: main;
}
@media (max-width: 768px) {
  .section-about {
    grid-template-columns: 1fr;
    grid-template-areas: "header sidebar" "main main";
  }
}

.section-work {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  box-sizing: border-box;
}
.section-work * {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
  visibility: visible;
}
.section-work .showcase-wr {
  margin-bottom: 40px;
}
.section-work .showcase-wr .txt-title--sm {
  text-align: right;
}
.section-work .showcase-wr .txt-title--sm a {
  text-decoration: none;
  color: inherit;
}
.section-work .showcase-wr .txt-title--sm a:hover {
  text-decoration: none;
  color: #26d353;
}
.section-work .showcase-wr .txt-desc--sm {
  text-align: right;
  color: #26d353;
}
.section-work .showcase-wr__img {
  float: left;
  height: 260px;
  background-color: rgba(53, 53, 53, 0.15);
  border-radius: 16px 16px 4px 16px;
  width: 58%;
  overflow: hidden;
  display: block;
  filter: grayscale(50%) invert(80%) saturate(130%);
  transition: all 0.25s cubic-bezier(0.65, 0.045, 0.35, 1) 0.1s;
}
.section-work .showcase-wr__img:hover {
  filter: none;
}
.section-work .showcase-wr__img img {
  height: inherit;
}
@media (max-width: 768px) {
  .section-work .showcase-wr__img {
    float: none;
    width: 100%;
    margin: 10px auto -100px;
    border-bottom-left-radius: 0;
  }
}
.section-work .showcase-wr__txt {
  float: right;
  width: 48%;
  margin-left: -6%;
  text-align: right;
  position: relative;
  z-index: 1;
}
.section-work .showcase-wr__txt--top {
  background-color: #092a3e;
  font-size: 16px;
  font-family: "Source Code Pro", monospace;
  color: #687e8e;
  font-weight: 400;
  padding: 18px 18px 20px 15px;
  margin: 30px 0 0 0;
  border-top-right-radius: 4px;
}
.section-work .showcase-wr__txt--top a {
  color: #5f72ff;
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  margin-left: 5px;
}
.section-work .showcase-wr__txt--top a:hover {
  color: #7787ff;
}
@media (max-width: 768px) {
  .section-work .showcase-wr__txt--top {
    border-radius: 0;
  }
}
.section-work .showcase-wr__txt--bottom {
  font-size: 12px;
  font-family: "Roboto Mono", monospace;
  color: #cedfec;
  font-weight: 100;
  margin: 15px 0 0 0;
}
.section-work .showcase-wr__txt--bottom span {
  display: inline-block;
  margin: 2px 12px;
}
@media (max-width: 768px) {
  .section-work .showcase-wr__txt {
    float: none;
    width: 85%;
    margin: 0 auto;
  }
}
.section-work .showcase-wr--more {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
}
@media (max-width: 576px) {
  .section-work .showcase-wr--more {
    grid-template-columns: 1fr;
  }
}
.section-work .showcase-wr--more .showcase-wr {
  margin-bottom: 30px;
}
.section-work .showcase-wr--more .txt-title--sm {
  text-align: left;
}
.section-work .showcase-wr--more .txt-desc--sm {
  text-align: left;
}
.section-work .showcase-wr--more .showcase-wr__img {
  height: auto;
  width: 100%;
  float: none;
  border-radius: 0;
  margin-top: 15px;
}
.section-work .showcase-wr--more .showcase-wr__img img {
  height: auto;
  width: 100%;
}
@media (max-width: 768px) {
  .section-work .showcase-wr--more .showcase-wr__img {
    float: none;
    width: 100%;
    margin: 0;
  }
}
.section-work .showcase-wr--more .showcase-wr__txt {
  float: none;
  width: 100%;
  margin: 0;
  text-align: right;
}
.section-work .showcase-wr--more .showcase-wr__txt .showcase-wr__txt--top {
  text-align: left;
  font-size: 13px;
  margin: 0;
  border-radius: 0;
  padding: 18px 0 0 2px;
  background-color: transparent;
}
.section-work .showcase-wr--more .showcase-wr__txt .showcase-wr__txt--bottom {
  font-size: 11px;
}
.section-work .showcase-wr--more .showcase-wr__txt .showcase-wr__txt--bottom span {
  margin: 2px 7px;
}
body {
  background-color: #0a192f;
}

.main-wrapper {
  background-color: #0a192f;
  font-family: "Source Code Pro", monospace;
}
.main-wrapper header {
  display: none;
}
.main-wrapper main {
  padding: 0 80px;
  margin: auto;
  max-width: 1080px;
}
@media (max-width: 576px) {
  .main-wrapper main {
    padding: 0 38px;
  }
}
.main-wrapper footer {
  display: block;
  color: #687e8e;
  font-weight: 600;
  text-align: center;
  padding: 50px 0;
  font-size: 12px;
  opacity: 0.75;
}
.main-wrapper footer .link-icon {
  padding: 12px;
  display: inline-block;
}
.main-wrapper footer .link-icon svg {
  width: 20px;
  height: 20px;
  fill: #687e8e;
}
.main-wrapper footer .link-icon:hover {
  transition: all 0.25s cubic-bezier(0.65, 0.045, 0.35, 1) 0.1s;
}
.main-wrapper footer .link-icon:hover svg {
  fill: #26d353;
}

.txt-title {
  color: #cedfec;
  font-family: "Source Code Pro", monospace;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  white-space: nowrap;
}
.txt-title--md {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .txt-title--md {
    font-size: 30px;
  }
}
.txt-title--sm {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
.txt-title::after {
  content: "";
  display: block;
  height: 1px;
  width: 50%;
  background-color: #2d3952;
  position: relative;
  top: 4px;
  margin-left: 20px;
}

.txt-desc {
  color: #687e8e;
  font-family: "Source Code Pro", monospace;
  margin: 0;
  padding: 0;
  letter-spacing: -0.05em;
}
.txt-desc--md {
  font-size: 17px;
  font-weight: 400;
  margin: 0 0 12px 0;
}
@media (max-width: 768px) {
  .txt-desc--md {
    font-size: 16px;
  }
}
.txt-desc--sm {
  font-size: 12px;
  font-weight: 400;
  margin: 2px 0;
  font-family: "Roboto Mono", monospace;
}

.list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  list-style: none;
  padding: 0 15px 0 0;
  color: #687e8e;
}
.list li::before {
  content: "▹";
  left: 0;
  color: #26d353;
  font-size: 15px;
  line-height: 12px;
  margin: 0 4px 0 0;
}

.show-more {
  font-size: 14px;
  outline: none;
  color: #26d353;
  font-weight: 100;
  padding: 15px;
  background: transparent;
  cursor: pointer;
  border: 0.5px solid #004203;
  border-radius: 4px;
  transition: background-color 0.5s ease;
}
.show-more:hover {
  background-color: rgba(38, 211, 83, 0.06);
}

*::-webkit-scrollbar {
  width: 4px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #0a192f;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #687e8e;
  border-radius: 4px;
}

/*# sourceMappingURL=style.css.map */
